.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafae0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafae0;
    z-index: 2;
}
.header__container{
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
    justify-content: space-between;
}
.header__container__input {
    width: 300px;
    z-index: 5;
    height: 30px;
    margin-left: 20px;
}
.header__container__button {
    z-index: 5;
    height: 30px;
}
.header__logo {
    width: 75px;
    z-index: 5;
}
.header__logo__link {
    z-index: 5;
    text-decoration: none;
}
.header__menu{
    margin-left: auto;
}
.menu__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}
.menu__item {
    margin: 0px 0px 0px 21px;
    font-size: 20px;
    transition: 0.4s;
    a:hover {
        color: #535353; 
        transition: 0.4s;
    }
}
.header__burger {
    display: none;
}

.active {
    color: #535353;
    font-weight: 400;
    text-decoration: none;
}
.default {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}
.phone {
    display: flex;
    color: #F5FBFE;
    font-weight: 300;
    font-size: 16px;
    .number {
        padding-top: 3px;
    }
}
.number__link {
    text-decoration: none;
    color: #F5FBFE;
}
@media screen and (max-width:700px) {
    body.lock {
        overflow-y: hidden;
    }
    .menu__list li:nth-last-child(-n + 3) {
        display: block;
    }
    .active {
        color: #535353;
    }
    .default {
        color: white;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        span {
            position: absolute;
            background-color: black;
            left: 0;
            top: 9px;
            height: 2px;
            width: 100%;
            transition: all 0.3s ease 0s;
        }
        &:before,
        &:after{
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.95;
        padding: 70px 0px 0px 0px;
        transition: all 0.8s ease 0s;
        overflow-y: auto;
        overflow-x: hidden;
        &.active {
            top: 0;
        }
    }
    .header__container {
        height: 50px;
    }
    .header__logo {
        width: 50px;
    }
    .menu__list {
        display: block;
        & li {
            font-size: 23px;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}

